{% extends 'base.twig' %}

{% block content %}
    <h1>Code Samples</h1>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Select a language</label>
            <select id="lang-select" class="form-control">
            {% for def in data %}
                <option value="{{def.lang.ref}}">{{ def.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    {% for def in data %}
        <div id="{{def.lang.ref}}" class="definition">
            <p>Default language reference: <b>{{def.lang.ref}}</b></p>
            {% if def.lang.aliases %}
                <p>Language aliases: <b>{{def.lang.aliases|join(', ')}}</b></p>
            {% endif %}
            <pre class="language-{{def.lang.ref}}"><code class="language-{{def.lang.ref}}">{{ def.code|raw }}</code></pre>
        </div>
    {% endfor %}
{% endblock %}
{% block js %}
 <script type="text/javascript">
    $(document).ready(function(){

        function switchSample(id, select){
            $('.definition').addClass('hidden');
            $('#'+ id).removeClass('hidden');
            if (select) $('#lang-select').val(id);
        }
        
        $("#lang-select").on('change', function(){
            var id = $(this).val();
            switchSample(id);
        })

        switchSample('markup', true);
    });
</script>

{% endblock %}
