<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prism.php</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700 | Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" id="theme-basic" href="{{ base }}assets/css/prism-basic.css" disabled>
    <link rel="stylesheet" id="theme-coy" href="{{ base }}assets/css/prism-coy.css" disabled>
    <link rel="stylesheet" id="theme-dark" href="{{ base }}assets/css/prism-dark.css" disabled>
    <link rel="stylesheet" id="theme-funky" href="{{ base }}assets/css/prism-funky.css" disabled>
    <link rel="stylesheet" id="theme-okaidia" href="{{ base }}assets/css/prism-okaidia.css">
    <link rel="stylesheet" id="theme-twilight" href="{{ base }}assets/css/prism-twilight.css" disabled>
    <link rel="stylesheet" id="theme-tomorrow" href="{{ base }}assets/css/prism-tomorrow.css" disabled>
    <link rel="stylesheet" href="{{ base }}assets/css/styles.css">
</head>
<body>
    <nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">
        <a class="navmenu-brand" href="#">Prism.php</a>

        <ul class="nav navmenu-nav">
            <li{% if active == 'home' %} class="active" {% endif %}>
                <a href="{{ base }}">Home</a>
            </li>
            <li{% if active == 'samples' %} class="active" {% endif %}>
                <a href="{{ base }}samples/">Code Samples</a>
            </li>
            <li class="dropdown {%  if active == 'show-language'
                                    or active == 'line-numbers'
                                    or active == 'show-invisibles'
                                    or active == 'trim-code'
                                    or active == 'highlight-keyword'
                                %}
                                open
                                {% endif %}
            ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plugins <i class="caret"></i></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li{% if active == 'show-language'%} class="active"{% endif %}>
                        <a href="{{ base }}plugins/show-language/">Show Language</a>
                    </li>
                    <li{% if active == 'line-numbers'%} class="active"{% endif %}>
                        <a href="{{ base }}plugins/line-numbers/">Line Numbers</a>
                    </li>
                    <li{% if active == 'show-invisibles'%} class="active"{% endif %}>
                        <a href="{{ base }}plugins/show-invisibles/">Show Invisibles</a>
                    </li>
                    <li{% if active == 'trim-code'%} class="active"{% endif %}>
                        <a href="{{ base }}plugins/trim-code/">Trim Code</a>
                    </li>
                    <li{% if active == 'highlight-keyword'%} class="active"{% endif %}>
                        <a href="{{ base }}plugins/highlight-keyword/">Highlight Keyword</a>
                    </li>
                </ul>
            </li>
            <li{% if active == 'changelog' %} class="active" {% endif %}>
                <a href="{{ base }}changelog.html">Changelog</a>
            </li>
            <li class="theme-switcher">
                <span>Theme Switcher</span>
                <select name="theme" id="theme-switcher" class="form-control">
                    <option value="basic">Basic</option>
                    <option value="coy">Coy</option>
                    <option value="dark">Dark</option>
                    <option value="funky">Funky</option>
                    <option value="okaidia">Okaidia</option>
                    <option value="twilight">Twilight</option>
                    <option value="tomorrow">Tomorrow</option>
                </select>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
       {% block content %}{% endblock %}
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            function switchTheme(id, select){
                $('link[id^=theme]').attr('disabled', 'disabled');
                $('link#theme-'+ id).removeAttr('disabled');
                if (select) $('#theme-switcher').val(id);
            }

            $("#theme-switcher").on('change', function(){
                var id = $(this).val();
                switchTheme(id);
            });

            switchTheme('okaidia', true);

            $('a.dropdown-toggle').on('click', function(){
               $(this).closest('li').toggleClass('open');
                return false;
            });
        });
    </script>
    {% block js %}{% endblock %}
</body>
</html>
